html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	color: #555;
	background-color: rgb(45, 50, 67);
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: inherit;
	color: #0a92cf;
}

.page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #FFF;
	flex: 1 0 auto;
}

footer {
	color: #FFF;
	display: flex;
	justify-content: space-around;
	background: rgba(0, 0, 0, 0.2);
	height: 80px;
	align-items: center;
	font-size: 0.75em;
	opacity: 0.4;
}

#pageHeader,
footer {
	flex-shrink: 0;
}

.page.inactive {
	display: none;
}

#modalOverlay {
	display: block;
	background-color: rgba(43, 50, 55, 0.85);
	z-index: 9999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#loginWrapper {
	display: flex;
	flex-direction: column;
	width: 600px;
	background: rgb(255, 255, 255);
	padding: 3em;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 100px;
	box-shadow: 0px 5px 50px -20px black;
	align-items: center;
}

#loginWrapper h2 {
	font-size: 2em;
	text-align: center;
	padding: 0;
	margin: 0 0 0.25em 0;
}

.loginOption.inactive {
	display: none;
}

#loginWrapper h3 {
	font-size: 1em;
	text-align: center;
	padding: 0;
	margin: 0 0 2em 0;
	font-weight: 300;
}

.closeButton {
	display: block;
	position: absolute;
	right: 1em;
	top: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(0, 0, 0);
	opacity: 0.2;
}

.closeButton a {
	text-decoration: none;
	color: inherit;
}

.closeButton:hover {
	opacity: 1;
}

.modal.inactive {
	display: none;
}

#logo {
	height: 90px;
	width: auto;
}

#pageHeader,
#pageFooter {
	flex: none;
}

#pageHeader {
	display: flex;
	align-items: center;
	height: 120px;
}

#pageHeader header {
	display: flex;
	flex-basis: 10%;
}

#pageHeader nav {
	display: flex;
	flex-basis: 90%;
	padding: 1em;
	justify-content: flex-end;
}

nav a {
	display: flex;
	flex-basis: auto;
	align-items: flex-start;
	padding: 0.25em 2em 0.25em 2em;
	margin: 1em;
	text-decoration: none;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.1em;
	transition: .2s;
	opacity: 0.6;
}

nav a:hover {
	opacity: 1;
}

a.outline {
	border: 2px solid #0a92cf;
	border-radius: 1em;
	color: #0a92cf;
}

a.outline:hover {
	box-shadow: 0 2px 10px rgba(15, 172, 243, 0.4);
	background-color: #0a92cf;
	color: white;
}

header button:hover {
	box-shadow: 0 2px 10px rgba(15, 172, 243, 0.4);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main h1 {
	font-size: 4em;
	text-align: center;
	margin: 0px;
}

main p {
	text-align: center;
}

#loginOptionsWrapper {
	display: flex;
	flex-direction: row;
}

.squareButton {
	border-radius: 0px !important;
}

.modal button {
	border-radius: 2em;
	border: 1px solid #0a92cf;
	background-color: transparent;
	color: #0a92cf;
	font-size: 1em;
	padding: 0.5em 1.5em 0.5em 1.5em;
	text-decoration: none;
	font-weight: 300;
	width: fit-content;
	margin: 1em 2em 2em 2em;
}

.modal button.active {
	background-color: #0a92cf;
	color: #FFF;
}

.bigButton {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	border-radius: 2em;
	background-color: #0a92cf;
	color: #FFF;
	font-size: 1.1em;
	padding: 0.5em 5em 0.5em 5em;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.05em;
}

.bigButton:hover {
	background-color: #40a8d6;
}

.loginOption {
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
}

input,
select {
	width: 100%;
	margin: 0.25em 0 1.2em 0;
	height: 44px;
	padding-left: 1em;
	border: 1px solid #0a92cf;
	border-radius: 3px;
	box-sizing: border-box;
	font-family: inherit;
}

label {
	font-weight: bold;
	margin-bottom: 0.5em;
}